<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
		<property name="targetDataSource">
			<bean class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
				<property name="driverClass" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://192.168.136.186:3306/demo?useUnicode=true&amp;characterEncoding=UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="admin" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
	</bean>

	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocation">
			<value>classpath:jpa-persistence.xml</value>
		</property>
	</bean>

	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<!-- <property name="databaseType" value="mysql" /> -->
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		<property name="history" value="full" />
		<property name="jpaEntityManagerFactory" ref="entityManagerFactory" />
		<property name="jpaHandleTransaction" value="true" />
		<property name="jpaCloseEntityManager" value="true" />
		<property name="mailServerHost" value="smtp.ym.163.com" />
		<property name="mailServerPort" value="25" />
		<property name="mailServerUsername" value="gitlab@unistacks.com" />
		<property name="mailServerPassword" value="Welcome1!" />
		<property name="mailServerDefaultFrom" value="gitlab@unistacks.com" />
		<property name="mailServerUseSSL" value="true" />
		<property name="mailServerUseTLS" value="true" />

	</bean>


	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="activitiRule" class="org.activiti.engine.test.ActivitiRule">
		<property name="processEngine" ref="processEngine" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />
	<bean id="formService" factory-bean="processEngine"
		factory-method="getFormService" />

	<bean id="identityService" factory-bean="processEngine"
		factory-method="getIdentityService" />



	<bean id="orderService" class="com.viti.activiti.service.OrderService" />
	<bean id="mailService" class="com.viti.activiti.service.MailService" />
	<bean id="bookService" class="com.viti.activiti.service.BookService" />
	<bean id="gossipTransition" class="com.viti.activiti.listener.transition.GossipAboutTransition" />
	<bean id="gossipActivity" class="com.viti.activiti.listener.activity.GossipAboutActivity" />
	<bean id="gossipUserTask" class="com.viti.activiti.listener.usertask.GossipAboutUserTask" />
</beans>